table, th, td {
    border: 1px solid;
  }
  
  table {
    width: 100%;
  }
   h2 {

      color: black;

      margin: 0 50px;

      font-size: 30px;}


      body {
        background-color: rgb(253, 74, 208);
        font-family: "Lucida Console", "Courier New", monospace;
      }